<!DOCTYPE html>
<html>
<head>
    <mata charset="UTF-8"></mata>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit|ie-comp">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>顶想网络——成就你的梦想</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__css/public.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__css/plan.css">
    <script type="text/javascript" src="__PUBLIC__js/screen.js"></script>
</head>
<body>
{include file="public/header" /}
<div class="banner_4">
    <div class="banner_1_cont">
        <h1>图像内容识别</h1>
        <h2>准确快速识别图像中的内容信息，解密图像信息的钥匙</h2>
    </div>
</div>
<div class="content_view" style="padding:0;background: #F7F9FC;height: 162px;min-height: auto;">
    <div class="content_box_1">
        <div class="state_loc">
            <a href="" class="state_fun sel">功能介绍</a>
            <a href="" class="state_fee">技术体验</a>
            <a href="" class="state_spe">技术特色</a>
            <a href="" class="state_app">应用场景</a>
        </div>
    </div>
</div>
<div class="content_view">
    <div class="content_box_1">
        <div class="fun_box">
            <h1>功能介绍</h1>
            <p>准确快速地检测图像中的内容信息，返回检测出的内容名称以及相应置信度。标签范围涵盖近两百种热词，囊括了社交生活、人物、风景、建筑、常见生活物品等大类，
                全面支持了不同维度层次的图像语义信息提取。</p>
            <div style="position: relative;">
                <img style="position: absolute; top: 0; z-index: 4" src="__PUBLIC__image/fun_img3.png">
                <img src="__PUBLIC__image/fun_img2.png">
            </div>
        </div>
    </div>
</div>
<div class="content_view">
    <div class="content_box_1">
        <div class="fee_box">
            <h1>技术体验</h1>
            <div>
                <div class="img_view">
                    <div class="img_view_box">
                        <img src="__PUBLIC__image/fee_img1.png">
                    </div>
                    <div class="img_info">
                        <h1>
                            <span>置信度</span>
                            <span>标签</span>
                        </h1>
                        <div class="rate_box">
                            <div></div>
                            <span>35%</span>
                            <span>夜晚</span>
                        </div>
                        <div class="rate_box">
                            <div></div>
                            <span>30%</span>
                            <span>烟火</span>
                        </div>
                    </div>
                </div>
                <div class="img_list">
                    <div class="img_list_box">
                        <span class="sel"><img src="__PUBLIC__image/fee_img1.png"></span>
                        <span><img src="__PUBLIC__image/fee_img1.png"></span>
                        <span><img src="__PUBLIC__image/fee_img1.png"></span>
                        <span><img src="__PUBLIC__image/fee_img1.png"></span>
                        <span><img src="__PUBLIC__image/fee_img1.png"></span>
                        <span><img src="__PUBLIC__image/fee_img1.png"></span>
                        <span><img src="__PUBLIC__image/fee_img1.png"></span>
                        <span><img src="__PUBLIC__image/fee_img1.png"></span>
                    </div>
                    <div class="img_input">
                        <div>
                            <input class="input_text" type="text" name="" placeholder="粘贴网页url识别网络图片"><a class="input_btn" href="">识别分析图像</a>
                        </div>
                        <a class="input_btn" href="">上传本地图片分析</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content_view" style="padding-bottom: 0; min-height: auto;">
    <div class="content_box_1">
        <div class="spe_box">
            <h1 id="aaa">技术特色</h1>
            <div>
                <ul>
                    <li>
                        <img src="__PUBLIC__image/spe_img1.png">
                        <div>
                            <h1>高扩展性</h1>
                            <p>基于语义树扩展的标签体系，能够灵活支持更多自定义标签，具备迁移学习的能力，识别维度和粒度将不断扩展。</p>
                        </div>
                    </li>
                    <li>
                        <img src="__PUBLIC__image/spe_img2.png">
                        <div>
                            <h1>准确性高</h1>
                            <p>2015年4月Pascal VOC2012物体分类比赛中刷新世界纪录，识别准确率在图像识别领域位于世界前列。</p>
                        </div>
                    </li>
                    <li>
                        <img src="__PUBLIC__image/spe_img3.png">
                        <div>
                            <h1>速度快</h1>
                            <p>核心算法与基础模型经过多轮优化，数百种标签的识别，平均处理时长仅需数百毫秒，真正支持超大规模图像的内容信息提取。</p>
                        </div>
                    </li>
                    <li>
                        <img src="__PUBLIC__image/spe_img7.png">
                        <div>
                            <h1>标签丰富</h1>
                            <p>基于世界一流水平的深度识别引擎打造，萃取出热度最高的近两百种热词标签，并按语义层次归类，涵盖日常生活照片的各个信息维度。</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="content_view">
    <div class="content_box_1">
        <div class="app_box">
            <h1>应用场景</h1>
            <div>
                <ul>
                    <li class="li2">
                        <img src="__PUBLIC__image/app_img7.png">
                        <div>
                            <h1>相册分类</h1>
                            <p>使用优图图像内容识别技术，可根据用户上传照片进行标签分类，实现手机厂商、云盘等应用的相册智能分类管理。</p>
                        </div>
                    </li>
                    <li class="li2">
                        <img src="__PUBLIC__image/app_img6.png">
                        <div>
                            <h1>智能识图</h1>
                            <p>使用优图图像内容识别技术，可根据用户上传照片进行标签分类，实现手机厂商、云盘等应用的相册智能分类管理。</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{include file="public/footer" /}
</body>
</html>