<!DOCTYPE html>
<html>
<head>
    <mata charset="UTF-8"></mata>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit|ie-comp">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>顶想网络——成就你的梦想</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__css/public.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__css/plan.css">
    <script type="text/javascript" src="__PUBLIC__js/screen.js"></script>
</head>
<body>
{include file="public/header" /}
<div class="banner_1">
    <div class="banner_1_cont">
        <h1>人脸检测与分析</h1>
        <h2>检测图片内的人脸，返回人脸的位置和性别、年龄等属性</h2>
    </div>
</div>
<div class="content_view" style="padding:0;background: #F7F9FC;height: 162px;min-height: auto;">
    <div class="content_box_1">
        <div class="state_loc">
            <a href="" class="state_fun sel">功能介绍</a>
            <a href="" class="state_fee">技术体验</a>
            <a href="" class="state_spe">技术特色</a>
            <a href="" class="state_app">应用场景</a>
        </div>
    </div>
</div>
<div class="content_view">
    <div class="content_box_1">
        <div class="fun_box">
            <h1>功能介绍</h1>
            <p>对于任意一幅给定的图像，采用智能策略对其进行搜索以确定其中是否含有人脸，如果是则返回人脸的位置、大小和属性分析结果。当前支持的人脸属性有：性别、表情（中性、微笑、大笑）、年龄（误差估计小于5岁）、是否佩戴眼镜（普通眼镜、墨镜）、是否佩戴帽子、是否佩戴口罩。</p>
            <div>
                <img src="__PUBLIC__image/fun_img.png">
            </div>
        </div>
    </div>
</div>
<div class="content_view">
    <div class="content_box_1">
        <div class="fee_box">
            <h1>技术体验</h1>
            <div>
                <div class="img_view">
                    <div class="img_view_box">
                        <img src="__PUBLIC__image/fee_img1.png">
                    </div>
                    <div class="img_info">
                        <ul>
                            <li>
                                <span>性别</span>
                                <i>女</i>
                            </li>
                            <li>
                                <span>眼镜</span>
                                <i>有</i>
                            </li>
                            <li>
                                <span>年龄</span>
                                <i>21</i>
                            </li>
                            <li>
                                <span>帽子</span>
                                <i>无</i>
                            </li>
                            <li>
                                <span>表情</span>
                                <i>笑颜逐开</i>
                            </li>
                            <li>
                                <span>口罩</span>
                                <i>无</i>
                            </li>
                            <li>
                                <span>魅力</span>
                                <i>90</i>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="img_list">
                    <div class="img_list_box">
                        <span class="sel"><img src="__PUBLIC__image/fee_img1.png"></span>
                        <span><img src="__PUBLIC__image/fee_img1.png"></span>
                        <span><img src="__PUBLIC__image/fee_img1.png"></span>
                        <span><img src="__PUBLIC__image/fee_img1.png"></span>
                        <span><img src="__PUBLIC__image/fee_img1.png"></span>
                        <span><img src="__PUBLIC__image/fee_img1.png"></span>
                        <span><img src="__PUBLIC__image/fee_img1.png"></span>
                        <span><img src="__PUBLIC__image/fee_img1.png"></span>
                    </div>
                    <div class="img_input">
                        <div>
                            <input class="input_text" type="text" name="" placeholder="粘贴网页url识别网络图片"><a class="input_btn" href="">识别分析图像</a>
                        </div>
                        <a class="input_btn" href="">上传本地图片分析</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content_view" style="padding-bottom: 0; min-height: auto;">
    <div class="content_box_1">
        <div class="spe_box">
            <h1 id="aaa">技术特色</h1>
            <div>
                <ul>
                    <li>
                        <img src="__PUBLIC__image/spe_img1.png">
                        <div>
                            <h1>适应性强</h1>
                            <p>支持多种复杂场景，如强光、弱光、黑夜等光照不理想的场景，戴有眼镜、帽子、口罩等遮挡物的场景，以及侧脸等头部姿态角度不理想的场景等。</p>
                        </div>
                    </li>
                    <li>
                        <img src="__PUBLIC__image/spe_img2.png">
                        <div>
                            <h1>准确性高</h1>
                            <p>对于一般生活场景中的人脸，达到99%的准确率和98%的召回率。</p>
                        </div>
                    </li>
                    <li>
                        <img src="__PUBLIC__image/spe_img3.png">
                        <div>
                            <h1>速度快</h1>
                            <p>在桌面设备、移动设备上均拥有高速性能，并在实际场景中不断优化。</p>
                        </div>
                    </li>
                    <li>
                        <img src="__PUBLIC__image/spe_img4.png">
                        <div>
                            <h1>人脸数量无限制</h1>
                            <p>无论图片中的人脸数量有多少，均可检测出来。</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="content_view">
    <div class="content_box_1">
        <div class="app_box">
            <h1>应用场景</h1>
            <div>
                <ul>
                    <li class="li3">
                        <img src="__PUBLIC__image/app_img1.png">
                        <div>
                            <h1>适应性强</h1>
                            <p>支持多种复杂场景，如强光、弱光、黑夜等光照不理想的场景，戴有眼镜、帽子、口罩等遮挡物的场景，以及侧脸等头部姿态角度不理想的场景等。</p>
                        </div>
                    </li>
                    <li class="li3">
                        <img src="__PUBLIC__image/app_img2.png">
                        <div>
                            <h1>准确性高</h1>
                            <p>对于一般生活场景中的人脸，达到99%的准确率和98%的召回率。</p>
                        </div>
                    </li>
                    <li class="li3">
                        <img src="__PUBLIC__image/app_img3.png">
                        <div>
                            <h1>速度快</h1>
                            <p>在桌面设备、移动设备上均拥有高速性能，并在实际场景中不断优化。</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{include file="public/footer" /}
</body>
</html>