<!DOCTYPE html>
<html>
<head>
    <mata charset="UTF-8"></mata>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit|ie-comp">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>顶想网络——成就你的梦想</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__css/public.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__css/plan.css">
    <script type="text/javascript" src="__PUBLIC__js/screen.js"></script>
</head>
<body>
{include file="public/header" /}
<div class="banner_2">
    <div class="banner_1_cont">
        <h1>人像分割</h1>
        <h2>识别图像中的人像轮廓范围</h2>
    </div>
</div>
<div class="content_view" style="padding:0;background: #F7F9FC;height: 162px;min-height: auto;">
    <div class="content_box_1">
        <div class="state_loc">
            <a href="" class="state_fun sel">功能介绍</a>
            <a href="" class="state_spe">技术特色</a>
            <a href="" class="state_app">应用场景</a>
        </div>
    </div>
</div>
<div class="content_view">
    <div class="content_box_1">
        <div class="fun_box">
            <h1>功能介绍</h1>
            <p>人像分割是指对图片或视频中的半身人体轮廓范围进行识别，将其与背景进行分离。可应用于人像抠图、照片合成、人像特效等场景。</p>
            <div>
                <img src="__PUBLIC__image/fun_img1.png">
            </div>
        </div>
    </div>
</div>
<div class="content_view" style="padding-bottom: 0; min-height: auto;">
    <div class="content_box_1">
        <div class="spe_box">
            <h1 id="aaa">技术特色</h1>
            <div>
                <ul>
                    <li>
                        <img src="__PUBLIC__image/spe_img1.png">
                        <div>
                            <h1>适应性强</h1>
                            <p>优图人像分割技术能够识别复杂背景下各种姿态的半身像，适应人像重叠、多个人像等场景。</p>
                        </div>
                    </li>
                    <li>
                        <img src="__PUBLIC__image/spe_img2.png">
                        <div>
                            <h1>准确性高</h1>
                            <p>在普通手机上能够做到低功耗实时分割，准确率业界第一，评测IoU>95%。 VOC2012物体分类比赛中刷新世界纪录，识别准确率在图像识别领域位于世界前列。</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="content_view">
    <div class="content_box_1">
        <div class="app_box">
            <h1>应用场景</h1>
            <div>
                <ul>
                    <li class="li2">
                        <img src="__PUBLIC__image/app_img4.png">
                        <div>
                            <h1>人像特效</h1>
                            <p>通过识别图像中的人体轮廓，可以为人像添加各种设定的背景特效，提供丰富娱乐性。也可以对背景进行虚化处理，突出人像，实现大光圈浅景深的专业相机效果。</p>
                        </div>
                    </li>
                    <li class="li2">
                        <img src="__PUBLIC__image/app_img5.png">
                        <div>
                            <h1>人像抠图</h1>
                            <p>通过识别图像中的人体轮廓，可以为人像添加各种设定的背景特效，提供丰富娱乐性。也可以对背景进行虚化处理，突出人像，实现大光圈浅景深的专业相机效果。</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{include file="public/footer" /}
</body>
</html>