<!DOCTYPE html>
<html>
<head>
    <mata charset="UTF-8"></mata>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit|ie-comp">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>顶想网络——成就你的梦想</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__css/public.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__css/plan.css">
    <script type="text/javascript" src="__PUBLIC__js/screen.js"></script>
</head>
<body>
{include file="public/header" /}
<div class="banner_3">
    <div class="banner_1_cont">
        <h1>通用印刷体文字识别</h1>
        <h2>图片内多语种文字的自动检测和识别服务</h2>
    </div>
</div>
<div class="content_view" style="padding:0;background: #F7F9FC;height: 162px;min-height: auto;">
    <div class="content_box_1">
        <div class="state_loc">
            <a href="" class="state_fun sel">功能介绍</a>
            <a href="" class="state_fee">技术体验</a>
            <a href="" class="state_spe">技术特色</a>
            <a href="" class="state_app">应用场景</a>
        </div>
    </div>
</div>
<div class="content_view">
    <div class="content_box_1">
        <div class="fun_box">
            <h1>功能介绍</h1>
            <p> 优图基于业界领先的深度学习技术，为用户提供图片内多种语言文字自动检测和识别服务，返回语种类型、文字框位置与文字内容，无需用户手动选择语言种类。除中英文外，现已支持日文、韩文、西班牙文、法文、德文、葡萄牙文等多种语言。</p>
            <div>
                <img src="__PUBLIC__image/fun_img4.png">
            </div>
        </div>
    </div>
</div>
<div class="content_view">
    <div class="content_box_1">
        <div class="fee_box">
            <h1>技术体验</h1>
            <div>
                <div class="img_list1">
                    <div class="img_list1_box">
                        <span class="sel"><img src="__PUBLIC__image/fee_img1.png"></span>
                        <span><img src="__PUBLIC__image/fee_img1.png"></span>
                        <span><img src="__PUBLIC__image/fee_img1.png"></span>
                        <span><img src="__PUBLIC__image/fee_img1.png"></span>
                        <span><img src="__PUBLIC__image/fee_img1.png"></span>
                        <span><img src="__PUBLIC__image/fee_img1.png"></span>
                    </div>
                </div>
                <div class="img_view img_view1">
                    <div class="img_view_box img_view1_box">
                        <img src="__PUBLIC__image/fee_img1.png">
                    </div>
                    <div class="result_box">
                        <div class="img_info img_info1">
                            <h1><span>编号</span><span>识别结果</span></h1>
                            <ul>
                                <li>
                                    <span>01</span>
                                    <i>milk and honey</i>
                                </li>
                                <li>
                                    <span>02</span>
                                    <i>rupi kaur</i>
                                </li>
                                <li>
                                    <span>03</span>
                                    <i>NEW YORK TIMES BESTSELLER</i>
                                </li>
                            </ul>
                        </div>
                        <div class="img_input">
                            <div>
                                <input class="input_text" type="text" name="" placeholder="粘贴网页url识别网络图片"><a class="input_btn" href="">识别分析图像</a>
                            </div>
                            <a class="input_btn" href="">上传本地图片分析</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content_view" style="padding-bottom: 0; min-height: auto;">
    <div class="content_box_1">
        <div class="spe_box">
            <h1 id="aaa">技术特色</h1>
            <div>
                <ul>
                    <li>
                        <img src="__PUBLIC__image/spe_img5.png">
                        <div>
                            <h1>高鲁棒性</h1>
                            <p>支持多场景、任意版面、任意背景，可容忍透视畸变、光照不均等情况，并可实现自动裁边、修正倾斜等。</p>
                        </div>
                    </li>
                    <li>
                        <img src="__PUBLIC__image/spe_img2.png">
                        <div>
                            <h1>准确性高</h1>
                            <p>基于腾讯优图强大的深度学习算法和OCR技术，多语种算法识别准确率均在92%以上。</p>
                        </div>
                    </li>
                    <li>
                        <img src="__PUBLIC__image/spe_img3.png">
                        <div>
                            <h1>速度快</h1>
                            <p>识别速度GPU平均1个字符约2ms；CPU平均1个字符约6ms。并不断优化更新模型保持服务的快速稳定。</p>
                        </div>
                    </li>
                    <li>
                        <img src="__PUBLIC__image/spe_img6.png">
                        <div>
                            <h1>完备性</h1>
                            <p>支持中英文、日文、韩文、西班牙文、法文、德文、葡萄牙文、英文、阿拉伯数字及常用符号等的识别。并不断更新迭代模型，扩充支持的广度。</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="content_view">
    <div class="content_box_1">
        <div class="app_box">
            <h1>应用场景</h1>
            <div>
                <ul>
                    <li class="li3">
                        <img src="__PUBLIC__image/app_img8.png">
                        <div>
                            <h1>多语种识别文档化</h1>
                            <p>在书籍、搜索等场景中，实现拍照、图片等自动识别出文字，方便用户进行文本录入，日文、韩文、西班牙文等多种语言的翻译等，提高产品易用性和用户体验。</p>
                        </div>
                    </li>
                    <li class="li3">
                        <img src="__PUBLIC__image/app_img9.png">
                        <div>
                            <h1>多语种名片识别</h1>
                            <p>在书籍、搜索等场景中，实现拍照、图片等自动识别出文字，方便用户进行文本录入，日文、韩文、西班牙文等多种语言的翻译等，提高产品易用性和用户体验。</p>
                        </div>
                    </li>
                    <li class="li3">
                        <img src="__PUBLIC__image/app_img10.png">
                        <div>
                            <h1>多语种翻译旅游场景</h1>
                            <p>在书籍、搜索等场景中，实现拍照、图片等自动识别出文字，方便用户进行文本录入，日文、韩文、西班牙文等多种语言的翻译等，提高产品易用性和用户体验。</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{include file="public/footer" /}
</body>
</html>