<!DOCTYPE html>
<html>
<head>
    <mata charset="UTF-8"></mata>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit|ie-comp">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>顶想网络——成就你的梦想</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__css/public.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__css/about.css">
    <script type="text/javascript" src="__PUBLIC__js/screen.js"></script>
</head>
<body>
{include file="public/header" /}
<div class="banner_1">
    <div class="banner_1_cont">
        <h1>用科技实现你的创意</h1>
        <h2>Use Technology to Realize Your Creativity</h2>
    </div>
</div>
<div class="content_view">
    <div class="content_box">
        <div class="info_box">
            <div class="f_left left_text_box">
                <h1>关于顶想</h1>
                <h2>ABOUT US</h2>
                <div class="line2"></div>
                <p>成都顶想网络科技有限公司(简称顶想网络)致力于中国较件业务外包事业,是一家自主研发、描售、实施、服务子一体化的专业软件定制开发的高新技术企业。拥有一批-长期 从事互联网+的软件开发、软件定制及产品运言的专业人才.具有雄厚的技术研发实力,全面满足政府、行业及企业信息化需求。</p>
                <p>自成立以来,顶想网络公司时刻关注着行业管理软件市场的需求.以中小企业管理的规范化、 科学化、现代化为已任,把开发适合中国国情的行业管理较件当做白己的使命,研发出一系列 管理软件,满足了不同企业的需求。</p>
                <p>我们的软件系统成功提升了企业内部的流转效率,降低了企业成本:我们的网络宫销策划能力帮助客户把握商机,为客户创造了更多订单;我们的专业设计团队以及良好的售后服务 全面得客户的广泛认可。</p>
            </div>
            <div class="f_right">
                <img src="__PUBLIC__image/rightimg.png">
            </div>
        </div>
        <div class="info_box">
            <div class="f_right right_text_box">
                <h1>公司业务</h1>
                <h2>BUSINESS</h2>
                <div class="line2"></div>
                <b>安全、 完整的系统策划和设计:</b>
                <p>公司在产品研发方面的高投入、众多项目的实际应用，使我们具备了相应的的创造力和丰富的经验，这成为您解決疑问和难题的良好保证。可为您提供多方面完善的策划，如项目的规划立项、总体方案设计、 方案评估论证。</p>
                <b>先进、专业的技术支持:</b>
                <p>公司众多一流人才的深层磨合，对最新技术执拗的探讨精神，使我们能够保证为你提供最专业的应用，最专业的服务。 </p>
                <b>完善、快速的售后服务:</b>
                <p>以最快的速度、最有效的方法、最先进的技术来使系统的性能发挥到极至,解除您的后顾之忧。</p>
            </div>
            <div class="f_left sc_float">
                <img src="__PUBLIC__image/leftimg.png">
            </div>
        </div>
    </div>
</div>
<div class="content_view">
    <div class="our_power">
        <img src="__PUBLIC__image/powerimg.png">
        <div>
            <h1>行业前列的开发实力</h1>
            <p>在这个高效、专业、数业的团队里，有多年较件行业经验的开发工程师和服务工程师。<br/>公司坚持以人为本的经营理念，员工奉行顾客至上的工作态度，为每一次开发投入100%的专注力</p>
        </div>
        <div class="content_box power_num">
            <div><h1>高新企业</h1><h2>省级高新技术企业</h2></div>
            <div><h1>5年+</h1><h2>5年以上经验开发团队</h2></div>
            <div><h1>50项+</h1><h2>软件著作权</h2><a href="">查看资质</a></div>
            <div><h1>2000+</h1><h2>全球2000余家企业的选择</h2></div>
            <div><h1>定制服务</h1><h2>全方位量身定制开发服务</h2></div>
        </div>
    </div>
</div>
<div class="content_view">
    <div class="content_box company_photo">
        <h1>优秀的企业文化</h1>
        <p>良好的企业氛围才能具备更好的工作活力</p>
        <div></div>
    </div>
</div>
<div class="content_view" style="padding-bottom: 0;min-height: auto;">
    <div class="link_us">
        <img src="__PUBLIC__image/about_bg.png">
        <div>
            <h1>联系我们</h1>
            <h2>让我们将您的创意变成现实</h2>
            <a href="{:url('Contact/contant')}">联系我们</a>
        </div>
    </div>
</div>
{include file="public/footer" /}
</body>
</html>